body{
  max-width: 1280px;
  margin: 0 auto;
}

.background-branco{
  width: 350px; 
  height: 50%;
  margin: 0 auto; 
  background-color: white;
  padding: 16px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
  margin-top: 90px;
  font-family: outfit, sans-serif;
}

.qrcode{
  display: block; 
  margin: 0 auto; 
  width:300px; 
  height: auto; 
  border-radius: 11px;
}

.titulo{
  text-align: center;
  margin-top: 20px; 
  background-color: white;
  font-size: 23px;
  
}

.conteudo{
  text-align: center;
  margin-top: 20px; 
  background-color: white;
}